.form {
  height: 100%;
  width: 55%;
  
  input {
    border-radius: 0;
  }
}

.submit {
  background-color: #0C88F7;
  border-radius: 20px;
  width: 150px;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  padding: 10px 30px 10px 30px;
  color: white;
  display: block; 
  margin: 30px 0 100px 0;
}